body{
  font-family:Arial, Helvetica, sans-serif;
  background-size: contain;
  background-image: url(https://i.pinimg.com/564x/62/45/5d/62455db674c507fce65b2a67f78e5d5b.jpg);
}

img{
  display:block;
  margin: 0px auto;
  
}
.column {
  border-radius: 20px;;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;

}
  
.container1{
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  background-image:url();
  background-size: contain;
  margin:4em;
  padding: 3em;
  grid-gap:4em;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
  
.card {
  background-color: rgb(167, 181, 194);
  box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  border-radius: 2em;
  /* vertical-align: middle; */
}


.container {
  padding: 5px 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button:hover {
  background-color: #555;
}

/* Popup container */
.popup {
  border-radius: 1em;
  outline: 0;
  /* display: inline-block; */
  content: 10px;
  padding:20px auto;
  margin: 10px auto;
  color: white;
  background-color: #000;
  text-align: center;
  justify-content: center;
  width: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  font-size: 20px;
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  /* text-align: center; */
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

