body{
    background-image: url("../Pics/b2fe91505525ba942ae7d85a2cd7a6d4.gif");
    background-size: cover;
    
    background-color: #111;
    align-items: center;
}
*{
    font-size: 15px;
}

.container2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    margin: 0px 22% ;
    
}
fieldset,
button{
    /* margin: auto 30%; */

    border-color: aqua;
    /* padding-left: ; */
}
h1{
    font-size: 50px;
    width: 200px;
    margin-left: calc(50% - 100px);
}
.container{
    box-shadow: 10px 10px 10px #000000;
    border-style:solid rgb(116, 107, 129);
    border-radius: 2em;
    margin:20px 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ; 
    background-image:url(../Pics/c02ab2499d54be35a58d765a239a169f.jpg);
}

h1,
label, 
legend{
    color: white;
}

label{
    /* text-size-adjust: 20px; */
    display: block;
    margin: 5px 0;
    width: 200px;
} 

input{
    width:350px;
    /* margin: 0 25%; */
    padding: 4px 5px;
    border-radius: 3px;
    border-top: none;
    border-bottom: 2px solid aqua;
    background-color: midnightblue;
    display: block;
    /* width: 70%; */
    /* border-bottom: 2px solid white; */
    color:white;
    /*margin-right: 1px ;
    padding: 8px 10px; */
    /* background-color: aqua; */
    /* display: in; */
}

input:focus{
    border: 2px midnightblue solid;

}
.spc{
    height: 2em;
}

input:hover{
    border-bottom: 2px solid purple;
    /* background-color: red; */
}

button:hover{
    background-color: midnightblue;
    color: white;
}