body{
    background-image: url("../Pics/b2fe91505525ba942ae7d85a2cd7a6d4.gif");
    background-size: cover;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #111;
    align-items: center;
}
.container2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    margin: 0px 22% ;
}
#annee{
    border:solid aqua;
    border-radius: 1em;
    background-color: #000000;
    color:aliceblue;
}
* :not(select,
optgroup,
option){
    color: white;
}
*{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h1{
    font-size: 50px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: underline;
}

.unique-info,
.stydies{
    border: 2px aqua solid;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;
    border-radius: 20px;
}

button{
    transition: background-color .4s ease;
  color:white;
  width: 50%;
  height: 40px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  border-color: aqua;
}
button:hover{
    background-color: aqua;
  color:#000;
  cursor: pointer;
}
.container{
    box-shadow: 10px 10px 10px #000000;
    border-style:solid rgb(116, 107, 129);
    border-radius: 2em;
    margin:20px 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ; 
    background-image:url(../Pics/c02ab2499d54be35a58d765a239a169f.jpg);
}

label{
    display: block;
    font-family:Helvetica, sans-serif;
    font-size: 22px;
} 

input{
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
select{
    width: 25%;
    color: black;
}

input:focus{
    border-bottom: 2px aqua solid;   
}
.spc{
    height: 2em;
}

input:hover{
    border-bottom: 2px solid aqua;
}
